<?xml version="1.0"?>
<config>
    <modules>
        <Mondido_Payment>
            <version>0.0.1</version>
        </Mondido_Payment>
    </modules>
    <global>
        <models>
            <mondido>
                <class>Mondido_Payment_Model</class>
            </mondido>
        </models>
        <resources>
            <mondido_setup>
                <setup>
                    <module>Mondido_Payment</module>
                </setup>
            </mondido_setup>
        </resources>
        <helpers>
            <mondido>
                <class>Mondido_Payment_Helper</class>
            </mondido>
            <checkout>
                <rewrite>
                    <url>Mondido_Payment_Helper_Url</url>
                    <cart>Mondido_Payment_Helper_Cart</cart>
                </rewrite>
            </checkout>
        </helpers>
        <blocks>
            <mondido>
                <class>Mondido_Payment_Block</class>
            </mondido>
        </blocks>
        <events>
            <customer_save_after>
                <observers>
                    <mondidocustomersaveafter>
                        <class>mondido/observer</class>
                        <method>observeAfterCustomerSave</method>
                    </mondidocustomersaveafter>
                </observers>
            </customer_save_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <mondidoquotesubmitbefore>
                        <class>mondido/observer</class>
                        <method>observeSubmitBeforeQuote</method>
                    </mondidoquotesubmitbefore>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
    </global>
    <frontend>
        <secure_url>
            <mondido_standard>/mondido/standard</mondido_standard>
        </secure_url>
        <routers>
            <mondido>
                <use>standard</use>
                <args>
                    <module>Mondido_Payment</module>
                    <frontName>mondido</frontName>
                </args>
            </mondido>
        </routers>
        <translate>
            <modules>
                <Mondido_Payment>
                    <files>
                        <default>Mondido_Payment.csv</default>
                    </files>
                </Mondido_Payment>
            </modules>
        </translate>
        <layout>
            <updates>
                <mondido>
                    <file>mondido_payment.xml</file>
                </mondido>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_mondido_checkout_index>
                <observers>
                    <mondidopredispatch>
                        <class>mondido/observer</class>
                        <method>mondidoCheckoutPredispatch</method>
                    </mondidopredispatch>
                </observers>
            </controller_action_predispatch_mondido_checkout_index>
            <customer_login>
                <observers>
                    <mondido_payment_customer_login>
                        <class>mondido/observer</class>
                        <method>observeAfterCustomerSave</method>
                    </mondido_payment_customer_login>
                </observers>
            </customer_login>
            <core_block_abstract_to_html_before>
                <observers>
                    <mondido_checkout_link_replace>
                        <class>mondido/observer</class>
                        <method>replaceCheckoutLink</method>
                    </mondido_checkout_link_replace>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <default>
        <payment>
            <mondido_payments>
                <model>mondido/hostedWindow</model>
                <title>Mondido HostedWindow</title>
                <payment_action>Authorize and Capture</payment_action>
            </mondido_payments>
        </payment>
    </default>
</config>
